<form action="http://127.0.0.1:8000/banking/status/{{transfer.receiver_name}}" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{transfer.amount}}", 
        currency: "INR",
        name: "{{transfer.receiver_name}}",
        description: "Bank Transfer",
        image: "https://example.com/your_logo",
        order_id: "{{transfer.order_id}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        prefill: {
            "name": "{{user.username}}",
            "email": "{{user.email}}",
            "contact": "{{user.phone_number}}"
        },
        notes: {
            "address": "User Bank Transfer"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
  
   
